@charset "UTF-8";

            h1 {
                text-align: center;
            }
            h2 {
                text-align: center;
            }
            h3 {
                text-align: center;
            }
            p {
                text-indent: 30px;
                text-justify: auto;
                font-family: Georgia;
            }
