@charset "UTF-8";

/* Formatação de textos */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-indent: 30px;
    text-justify: auto;
    font-family: Georgia;
}

/* Formatação de imagens legendadas */
figure.foto-legendada {
    position: relative;
    border: 4px solid white;
    box-shadow: 2px 2px 4px gray;
}
figure.foto-legendada img {
    width: 100%;
    height: 100%;
}
figure.foto-legendada figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;
}
figure.foto-legendada:hover figcaption {
    opacity: 1;
}

/* Formatação da área de navegação */

nav#menu ul {
    list-style-type: none;
    position: absolute;
    top: -20px;
    right: 0px;
}

nav#menu li {
    display: inline-block;
    background-color: aliceblue;
    padding: 5px;
    margin: 2px;
}

nav#menu h1 {
    display: none;
}


nav#menu a {
    color: black;
        transition:b 0.5s;
}

nav#menu a:hover {
    color:white;
    background-color: #267D80;
    color: white;
}